.logincontent{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logincard {
    display: flex;
    padding: 5rem;
}

.logincardcontent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.loginform {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.buttongroup {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}