@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.container {
    display: flex;
}

.content {
    padding: 1em;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    flex: 1; /* gets the unused space */
}